* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: white;
    --lightblue: rgb(181, 208, 232);
    --black: black;
    --blu: #0061FF;
    --grey: #EDEDEE;
    --azure: #B4D0E7;
    --bordeaux: #610B2E;
    --beige: #F5F5F5;
    --green: #A2D39B;
    --lightgreen: #D1E9CD;
    --cyan: #0093CE;
    --red: #FF1C1C;
    --darkred: #D5001F;
    --darkblue: #0D2481;
    --yellow: #FFD830;


}

@font-face {
    font-family: "eiko";
    src: url("../fonts/PP\ Eiko\ Medium\ 500.otf")
}

body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.smallercontainer{
    width: 80%;
    margin: 0 auto;
}










/* header */
.btn{
    background-color: var(--blu);
    border: none;
    color: var(--white);
    padding: 5px 8px;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
}

ul{
    align-items: center;
    font-size: 16px;
    
    margin: 0 25px;
}



.d-flex {
    display: flex;
}

#btn-nav{
    margin-left: 20px ;
}

header nav ul li{
    height: 100%;
    line-height: 60px;
    
}

li{
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
}

a:visited{
    text-decoration: none;
    color: black;
}

ul#menu li{
    display: block;
    position: relative;
}


ul#menu a{
    font-size: 14px;
    margin:0;
    padding:0;
    display: block;
    position: relative;
}



ul#menu ul{
    margin: 5px 0 0;
    padding:0;
    
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 58px;
    left: 0px;
    z-index:9999;
    background: var(--beige);
}


header nav ul li:hover{
    background: var(--beige);
    border-bottom: 2px solid var(--black);
}


ul#menu li:hover ul{
    width: 140%;
    background: var(--beige);
    opacity: 1;
    visibility: visible;
    
}



ul#menu ul a:hover{
    
    color: var(--black);
}

/* main */

h1{
    font-family: "eiko";
    color: var(--bordeaux);
}

.flex p{
    margin: 15% 0;
}

.flex a:visited{
    color: var(--black);
}

.flex a{
    border: 1px solid var(--grey);
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    padding: 2% 8%;
}

.schedauno{
    width: 100%;
    background-color: var(--azure);
}

.pic{
    flex-basis: 50%;
}

.txt{
    flex-basis: 45%;
}

.img-scheda{
    width: 120%;
}


.flex{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    align-items: center;
    display: flex;
    padding: 8%;
    justify-content: space-between;
}

/* main end */

/* footer */
footer {
    height: 500px;;
    background-color: var(--black);
    color: var(--white);
}



.foot-nav{
    padding-top: 60px;
    margin-bottom: 100px;
}

footer ul li:first-child{
    font-size: 20px;
    margin-bottom: 20px;
    
}

.foot-flex{
    display: flex;
    justify-content: space-between;
}

footer section div {
    display: inline-block;
    border-top: 1px solid white;
    color: var(--langgray);
    padding: 30px 0;
    margin-left: 25px;
}
footer select {
    background-color: var(--black);
    color: var(--grey);
    margin: 0 5px;
    border: none;
    cursor: pointer;
}


footer ul li{
    padding-top: 10px;
}

footer ul li a{
    text-decoration: none;
    
}

footer ul li a:visited{
    color: var(--white);
    text-decoration: none;
}
/* footer end */
